* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.ludo {
  display: grid;
  width: 100vh;
  border: 1.5px solid;
  margin: 5%;
  grid-template-rows: 2fr 1fr 2fr;
  grid-template-columns: 2fr 1fr 2fr;
}
.green.box {
  background-color: rgb(54, 227, 54);
  height: 40vh;
  width: 40vh;
  display: grid;
  border: 1px solid black;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 2fr 1fr;
}
.spawn{
  padding: 0;
  margin: 0;
}
.spawn.green {
  background-color: white;
  border: 1px solid rgb(54, 227, 54);
  color: rgb(54, 227, 54);
}

.yellow-entry {
  display: grid;
  height: 40vh;
  border: 1px solid black;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    ". . ."
    ". y ys"
    "star y ."
    ". y ."
    ". y ."
    ". y .";
}
.g {
  border: 0.5px solid black;
}
.y {
  background-color: rgb(220, 220, 36);
}
.yellow.box {
  background-color: rgb(220, 220, 36);
  height: 40vh;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 2fr 1fr;
}
.spawn.yellow {
  background-color: white;
  border: 1px solid rgb(220, 220, 36);
  color: rgb(220, 220, 36);
}
.green-entry {
  display: grid;
  height: 20vh;
  border: 1px solid black;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    ". gs . . . . "
    ". y y y y y "
    ". . star . . . ";
}
.gr {
  background-color: rgb(54, 227, 54);
}

.blue-entry {
  display: grid;
  height: 20vh;
  border: 1px solid black;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    ". . . . . . "
    " y y y y y . "
    ". . . star . .  ";
}
.b {
  background-color: rgb(64, 190, 239);
}
.red.box {
  background-color: rgb(218, 59, 59);
  height: 40vh;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 2fr 1fr;
}
.spawn.red {
  background-color: white;
  border: 1px solid rgb(218, 59, 59);
  color: rgb(218, 59, 59);
}
.red-entry {
  display: grid;
  height: 40vh;
  border: 1px solid black;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    ". r ."
    ". r ."
    ". r ."
    ". r star"
    "rs r ."
    ". r .";
}
.r {
  background-color: rgb(218, 59, 59);
}
.blue.box {
  background-color: rgb(64, 190, 239);
  height: 40vh;
  width: 40vh;
  display: grid;
  align-items: end;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 2fr 1fr;
}
.spawn.blue {
  background-color: white;
  border: 1px solid rgb(64, 190, 239);
  color: rgb(64, 190, 239);
}
.star {
  background-color: rgb(231, 226, 226);
  color: rgb(88, 80, 80);
}
.ys {
  background-color: rgb(220, 220, 36);
  color: rgb(65, 66, 58);
}
.ye {
  color: rgb(220, 220, 36);
}
.gs {
  background-color: rgb(54, 227, 54);
  color: rgb(65, 66, 58);
}
.ge {
  color: rgb(54, 227, 54);
}
.bs {
  background-color: rgb(64, 190, 239);
  color: rgb(65, 66, 58);
}
.be {
  color: rgb(64, 190, 239);
}
.rs {
  background-color: rgb(218, 59, 59);
  color: rgb(65, 66, 58);
}
.re {
  color: rgb(218, 59, 59);
}
.center{
  width: 20vh;
  height: 20vh;
}
svg{
  padding: 0;
  margin: 0;
  height: 90%;
  width: 90%;
  justify-content: center;
  align-items: center;
}
.fix{
  height: 100%;
  width: 100%;
}
.spawn svg{
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}